a {
    color: yellow;
   }

   img{
    width: 350px;
    height: 350px;
   }
button {
    width: 350px;
    height: 350px;
     margin-left: 100px;
     margin-right: 180px; /* Espacio entre los botones */
     border: none; /* Quita los bordes */
     border-radius: 100px; /* Redondea los bordes */
   }

button:hover {
    width: 355px;
    height: 355px;
    background-color: #e6e6e6; /* Cambio de color de fondo */
    color: #333; /* Cambio de color de texto */
  }
  
  